<applet name="jumpLoaderApplet"
        code="jmaster.jumploader.app.JumpLoaderApplet.class"
        archive="{% url jumploader_applet %}"
        width="600"
        height="400"
        mayscript>
    <param name="uc_uploadUrl" value="{% url jumploader_upload_handler %}"/>
    <param name="uc_partitionLength" value="{{ partition_length }}"/>
    <param name="ac_fireAppletInitialized" value="true"/>
    <param name="ac_fireUploaderFileAdded" value="true"/>
    <param name="ac_fireUploaderFileMoved" value="true"/>
    <param name="ac_fireUploaderFileRemoved" value="true"/>
    <param name="ac_fireUploaderFilesReset" value="true"/>
    <param name="ac_fireUploaderFileStatusChanged" value="true"/>
    <param name="ac_fireUploaderSelectionChanged " value="true"/>
    <param name="ac_fireUploaderStatusChanged" value="true"/>
</applet>